@rendermode InteractiveServer
@inject IJSRuntime JS

<div style="@(IsVisible ? "" : "display: none;")">
	<h3>Добавление точки на карту</h3>

	<InputText @bind-Value="address" placeholder="Введите адрес" />
	<button class="btn btn-small" @onclick="GeocodeAddress">Добавить точку на карту</button>

</div>
