@rendermode InteractiveServer

<div class="modal @(IsVisible ? "show" : "hide")">
	<div class="modal-content">
		<div class="controll-buttons">
			<span class="close" @onclick="Close">&times;</span>
		</div>
		@ChildContent
	</div>
</div>


