.hidden-element {
	display: none !important;
}

.borderBlack {
	border: solid 3px black;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#mapMenu {
	width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#mapMenu-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mapMenu-item {
	display: flex;
	flex-direction: row;
}

.left-mapMenu-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center-mapMenu-item {
	display: flex;
	align-items: center;
}

.right-mapMenu-item {
	display: flex;
	flex-direction: row;
}