main {
    display: flex;
    justify-content: center;
}

.route-card {
    width: 700px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 6px 8px 14px -5px #000000;
    margin-bottom: 20px;
}

.route-map-container {
    width: 400px;
    height: 400px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 6px 8px 14px -5px #000000;
    margin-bottom: 20px;
    margin-right: 20px;
}

.route-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.route-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
}

.route-description {
    margin-top: 8px;
    font-size: 1rem;
    color: #666;
}

.route-cards-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.route-instances {
    font-size: 1.1rem;
    font-weight: 500;
    color: #444;
    margin-top: 16px;
}