@page "/admin/route/{RouteId:long}"
@using Application.Components.Components.Admin
@using Application.Components.Components.BaseComponents

<header>
	<AdminMenuComponent/>
</header>
<h1>Маршрут</h1>

@if (Route is { })
{
	<main>
		<div class="route-map-container">
			<MapComponent />
		</div>

		<div class="route-cards-container">
			<div class="route-card">
				<div class="route-title">
					<div class="text-lg-left">@Route.Title</div>
					<button class="btn edit-btn">
						<img src="icons/pencil.svg" alt="Изменить описание маршрута" />
					</button>
				</div>
				<div class="route-header">
					<div class="route-description">@Route.Description</div>
				</div>
			</div>

			<div class="route-card">
				<div class="route-instances">Экземпляры маршрутов</div>
			</div>
		</div>

	</main>
}
else
{
	<div>Маршрут не найден</div>
}