.hidden {
    display: none;
}

.about-route-element {
    display: flex; /* Используем Flexbox для размещения элементов в строку */
    justify-content: space-between; /* Контент слева, кнопка справа */
    align-items: center; /* Центрируем по вертикали */
    margin-bottom: 10px;
}

.content {
    flex-grow: 1; /* Занимает всю доступную ширину */
    padding: 0px;
}

.buttons {
    margin-left: 10px; /* Отступ от контента */
    display: flex; /* Используем Flexbox для кнопок */
    align-items: center; /* Выравнивание кнопок по центру */
}


.route-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.route-title {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
}

.route-description {
    margin-top: 8px;
    font-size: 1rem;
    color: #666;
}


.editable-input {
    border: none;
    background: transparent;
    font-size: 1.25rem; /* Размер как у заголовка */
    font-weight: bold;
    width: 100%;
    outline: none;
}

.editable-textarea {
    border: none;
    background: transparent;
    font-size: 1rem;
    color: #6c757d; /* Цвет как у .text-muted */
    width: 100%; /* Растянуть на всю ширину родителя */
    outline: none;
    resize: vertical; /* Разрешаем изменение высоты, но запрещаем изменение ширины */
    overflow: hidden;
}
