@using Application.Components.Components.BaseComponents

<div class="about-route-container">
	<div class="about-route-element">
		<div class="content">
			@if (!IsTitleEdited)
			{
				<div class="route-title text-lg-left">@Route.Title</div>
			}
			else
			{
				<div class="route-title text-lg-left"><InputText class="editable-input" @bind-Value=Route.Title /></div>
			}
		</div>
		<div class="buttons">
			<button @onclick=ToggleEditRouteTitle class="btn edit-btn">
				<img src="icons/pencil.svg" class="@(IsTitleEdited ? "hidden" : "")" alt="Изменить название маршрута" />
				<img src="icons/floppy.svg" class="@(IsTitleEdited ? "" : "hidden")" alt="Сохранить" />
			</button>
		</div>
	</div>
	<div class="about-route-element">
		<div class="content">
			<div class="route-description">@((MarkupString)Route.Description)</div>
		</div>
		<div class="buttons">
			<button @onclick=EditRouteDescription class="btn edit-btn">
				<img src="icons/pencil.svg" alt="Изменить название маршрута" />
			</button>
		</div>
		</div>
	<Modal @ref=ModalWindow OnClose=SaveDescription>
		<CKEditor @bind-Value="Route.Description" class="form-control form-control-solid form-control-lg"></CKEditor>
	</Modal>
</div>