<div class="admin-panel">
	<div class="container-left"></div>
	<div class="container-right">
		<button class="btn btn-sm admin-panel-btn">
			Маршруты
		</button>
		<button class="btn btn-sm admin-panel-btn">
			<img src="icons/bell.svg" />
		</button>
		<button class="btn btn-sm admin-panel-btn"><img src="icons/people.svg" /></button>
	</div>
</div>