<div class="@(IsHidden ? "hidden-element" : "")">
	<div class="borderBlack">
		@foreach (var item in FormFields)
		{
			<label>@GetDisplayName(item)</label>
			<input type="text" value="@item.GetValue(NewRoute)" @onchange="(e) => InputOnChange(e, item)" />

		}
	</div>

	<div>
		<button @onclick=Save>Сохранить</button>
	</div>
</div>