<div>
	<div>Сортировка</div>
	<div>
		<div>По дате создания</div>
		<div>По дате начала</div>
		<div>По алфавиту</div>
	</div>
	<div>Поиск</div>
	<div>Показывать скрытые <InputCheckbox @bind-Value=Values.IsShowVisible @onclick=HandleShowVisible/></div>
	<div>Показывать видимые <InputCheckbox @bind-Value=Values.IsShowHidden @onclick=HandleShowHidden/></div>
	<div>Корзина</div>
</div>